<nav>
    <a href="/">File Uploader</a>
    <div class="navLinks">
        <% if (locals.user) {%>
            <a href="/" id="linkOne">
            <h1>Home</h1>
            <div id="navBorderOne"></div>
            </a>
            <a href="/log-out" id="linkTwo">
            <h1>Log Out</h1>
            <div id="navBorderTwo"></div>
            </a>
        <% } else { %>
            <a href="/log-in" id="linkOne">
            <h1>Log In</h1>
            <div id="navBorderOne"></div>
            </a>
            <a href="/sign-up" id="linkTwo">
            <h1>Sign Up</h1>
            <div id="navBorderTwo"></div>
            </a>
        <%}%>
    </div>
    <script>
        const linkOne = document.getElementById('linkOne');
        const linkTwo = document.getElementById('linkTwo');
        const navBorderOne = document.getElementById('navBorderOne');
        const navBorderTwo = document.getElementById('navBorderTwo');
        linkOne.addEventListener("mouseover", (event) => {
            linkTwo.classList.add("unselected")
            navBorderOne.classList.add("selectedBorder")
            navBorderOne.style.transform = "translateX(0px)"
            linkOne.classList.add("selected")
        });
        linkOne.addEventListener("mouseout", (event) => {
            linkTwo.classList.remove("unselected")
            navBorderOne.classList.remove("selectedBorder")
            navBorderOne.style.transform = "translateX(-80px)"
            linkOne.classList.remove("selected")
        });
        
        linkTwo.addEventListener("mouseover", (event) => {
            linkTwo.classList.add("selected")
            navBorderTwo.classList.add("selectedBorder")
            navBorderTwo.style.transform = "translateX(0px)"
            linkOne.classList.add("unselected")
        });
        
        linkTwo.addEventListener("mouseout", (event) => {
            linkTwo.classList.remove("selected")
            navBorderTwo.classList.remove("selectedBorder")
            navBorderTwo.style.transform = "translateX(-80px)"
            linkOne.classList.remove("unselected")
        });
    </script>
  </ul>
</nav>