<div class="childFolder">
    <div class="childFolderTitle">
        <i class="fa-regular fa-folder"></i>
        <a href="/view-files/user/<%= user %>/folder/<%= folder.id %>"><h1><%= folder.name %></h1></a>
    </div>
    
</div>