body {
    font-family: system-ui, sans-serif;
    font-weight: normal;
    /* background: linear-gradient(180deg,rgba(0, 0, 0, 1) 7%, rgba(29, 29, 145, 1) 49%, rgba(82, 112, 203, 1) 72%, rgba(190, 165, 125, 1) 88%); */
    margin: 0;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 15%, rgba(29, 29, 145, 0.56) 49%, rgba(82, 112, 203, 0.56) 72%, rgba(190, 165, 125, 0.62) 88%), url(https://grainy-gradients.vercel.app/noise.svg);
    height: 100vh;
}

h1, h2, h3, p {
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 60px 10px 60px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

nav>a {
    text-decoration: none;
    color: white;
    font-size: 21px;
    font-weight: 500;
}



.navLinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.navLinks>a {
    text-decoration: none;
    color: white;
    overflow: hidden;
}

#navBorderOne, #navBorderTwo {
    width: 100%;
    height: 1px;
    transform: translateX(-80px);
    transition: transform 300ms ease-in-out;
    background-color: white;
}

.selected {
    padding-top: 1px;
}

.selectedBorder {
    padding-top: 1px;
}

.unselected {
    padding-top: 1px;
    transition: opacity 250ms ease-in-out;
    opacity: 0.3;
}

.navLinks>a>h1 {
    font-size: 16px;
    font-weight: 700;
}

.signUpForm, .loginForm {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 450px 60px 10px 60px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    text-align: center;
}

.signUpForm>form>button, .loginForm>form>button {
    margin-top: 5px;
}

.signUpForm>h1, .loginForm>h1 {
    margin-bottom: 5px;
}

.HPMain {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.HPContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.HPContent>h1 {
    font-size: 90px;
    word-spacing: 0.25em -15px;
    margin: -15px;
}

.HPContent>p {
    font-size: 24px;
    margin: 15px 0px 15px 0px;
}

.HPButtons {
  display: flex;
  flex-direction: row; 
  gap: 25px;

}


button {
    padding: 0px 15px 3px 15px;
    font-size: 20px;
    font-family: system-ui, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    transition: border 300ms ease-in-out;
}

button:hover {
    transition: border 300ms ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.folderNavButtons, .fileNavButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
    text-decoration: none;
}

.folderViewTitle {
    color: white;
    margin: 60px 150px 30px 150px;
    font-size: 80px;
    font-weight: 500;
}

.folderPage, .filePage {
    min-height: 60vh;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin: 50px 150px 30px 150px;
    background-color: #0F0F0F

}

.folderContent, .filePage>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 100px 50px 100px;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 30px 30px 30px 30px;
    overflow: hidden;
}

.folderContent>h2 {
    margin-left: 60px;
}

.homeFolderTitle>h1 {
    font-size: 30px;
}

.folderChildren {
    margin-left: 40px;
    border-left: 1px solid white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.homeFolderTitle, .fileTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #EFF2C0;
}

.childFolderTitle, .childFile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    overflow-wrap: break-word;
    overflow: hidden;
}

.childFolderTitle>a, .childFile>a {
    text-decoration: none;
    color: white;
    font-size: 12px;
    transition: color 300ms ease-in-out;
}

.childFolderTitle>a>h1, .childFile>a>h1 {
    text-overflow: ellipsis;
}


.childFolderTitle>a:hover, .childFile>a:hover {
    transition: color 300ms ease-in-out;
    color: #EFF2C0;
}

.createFolderForm, .editFileForm, .editFolderForm {
    min-height: 60vh;
    height: fit-content;
    padding: 10px 20px 10px 20px;
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    margin: 100px 150px 30px 150px;
    background-color: #0F0F0F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createFolderForm>div, .editFileForm>div, .editFolderForm>div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 50px 100px 50px 100px;
    min-height: 50vh;    
    width: 80%;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 30px 30px 30px 30px;
    align-items: center;
    overflow: hidden;
}

.createFolderForm>div>a, .editFileForm>div>a, .editFolderForm>div>a {
    align-self: flex-start;
    margin-bottom: 20px;
}

.createFolderForm>div>form, .editFileForm>div>form, .editFolderForm>div>form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 130px;
}

.createFolderForm>div>form>input, .editFileForm>div>form>input, .editFolderForm>div>form>input, .loginForm>form>input, .signUpForm>form>input {
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
    padding: 10px 20px 10px 20px;
    font-size: 18px;
}

.createFolderForm>div>form>h1, .editFileForm>div>form>h1, .editFolderForm>div>form>h1 {
    color: #EFF2C0;
    font-size: 40px;
    text-align: center;
}

.fileDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
    
}

.fileDetails>h2 {
    font-weight: 300;
}

.editFolderForm>div>form>a, .editFileForm>div>form>a {
    align-self: center;
}

