body {
    font-family: system-ui, sans-serif;
    font-weight: normal;
    background: #000000;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgba(71, 74, 72, 1) 37%, rgba(144, 149, 144, 1) 45%, rgba(82, 203, 88, 1) 63%, rgba(83, 122, 90, 1) 82%);
    height: 100%;
}
h1, h2, h3 {
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 20px 30px 10px 30px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(38, 38, 38, 0.3);
    color: white;
    border-radius: 24px;
}

nav>h1 {
    font-size: 21px;
    font-weight: 500;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.navLinks>a {
    text-decoration: none;
    color: white;
}

.selected {
    border-bottom: 1px solid white;
    padding-top: 1px;
}

.navLinks>a>h1 {
    font-size: 16px;
    font-weight: 700;
}