body {
    font-family: system-ui, sans-serif;
    font-weight: normal;
    /* background: linear-gradient(180deg,rgba(0, 0, 0, 1) 7%, rgba(29, 29, 145, 1) 49%, rgba(82, 112, 203, 1) 72%, rgba(190, 165, 125, 1) 88%); */
    margin: 0;
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 15%, rgba(29, 29, 145, 0.56) 49%, rgba(82, 112, 203, 0.56) 72%, rgba(190, 165, 125, 0.62) 88%), url(https://grainy-gradients.vercel.app/noise.svg);
}

h1, h2, h3, p {
    margin: 0px;
}
nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 30px 60px 10px 60px;
    padding: 10px 20px 10px 20px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.05);
}

nav>h1 {
    font-size: 21px;
    font-weight: 500;
}

.navLinks {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.navLinks>a {
    text-decoration: none;
    color: white;
    overflow: hidden;
}

#navBorderOne, #navBorderTwo {
    width: 100%;
    height: 1px;
    transform: translateX(-80px);
    transition: transform 300ms ease-in-out;
    background-color: white;
}

.selected {
    padding-top: 1px;
}

.selectedBorder {
    padding-top: 1px;
}

.unselected {
    padding-top: 1px;
    transition: opacity 250ms ease-in-out;
    opacity: 0.3;
}

.navLinks>a>h1 {
    font-size: 16px;
    font-weight: 700;
}

.HPMain {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.HPContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.HPContent>h1 {
    font-size: 90px;
    word-spacing: 0.25em -15px;
    margin: -15px;
}

.HPContent>p {
    font-size: 24px;
    margin: 15px 0px 15px 0px;
}

.HPButtons {
  display: flex;
  flex-direction: row; 
  gap: 25px;

}


button {
    padding: 0px 15px 3px 15px;
    font-size: 20px;
    font-family: system-ui, sans-serif;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 24px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    transition: border 300ms ease-in-out;
}

button:hover {
    transition: border 300ms ease-in-out;
    border: 1px solid rgba(255, 255, 255, 0.7);
}

.folderPage {
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 30px 60px 10px 60px;
    
}

.folderContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 40px;
    border-left: 1px solid white;
    height: 80%;
}

.folderContent>h2 {
    margin-left: 60px;
}

.folderNavButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    gap: 20px;
}

.homeFolderTitle>h1 {
    font-size: 40px;
}

.folderChildren {
    margin-left: 40px;
    border-left: 1px solid white;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.homeFolderTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    color: #EFF2C0;
}

.childFolderTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.childFolderTitle>a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 300ms ease-in-out;
}

.childFolderTitle>a:hover {
    transition: color 300ms ease-in-out;
    color: #EFF2C0;
}

.createFolderForm {
    height: 100vh;
    background-color: rgba(0, 0, 0, 1);
    color: white;
    padding: 30px 60px 10px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.createFolderForm>a {
    align-self: flex-start;
    margin-bottom: 40px;
}

.createFolderForm>form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid white;
    border-radius: 24px;
    padding: 10px 0px 10px 0px;
    width: 100%;
}

.createFolderForm>form>h1{
    color: #EFF2C0;

}

.createFolderForm>form>label {
    font-size: 20px;
}